# Project parameters
spring.application.name=encrypted-drive-backend

# Database parameters
spring.jpa.hibernate.ddl-auto=validate
spring.datasource.url=jdbc:mysql://localhost/encrypted_drive
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql: true

#Jwt Parameters
jwt.secret=sldajf;ksajdf
jwt.access.expire= 10800000
jwt.refresh.expire=86400000

# Storage
storage.local-storage-location=storage

# Encryption
encryption.certificate-path=src/main/resources/certs/ca_cert.pem
encryption.private-key-path=src/main/resources/certs/ca_key.pem
encryption.issuer-common-name=EDrive
encryption.issuer-organization=Singidunum
encryption.issuer-country=Serbia
encryption.rsa-key-size=4096
encryption.aes-key-size=256
encryption.gcm-tag-size=128
encryption.iv-size=96
encryption.algorithm="AES/GCM/NoPadding"
encryption.chunk-size=4096
